/CatBoost_feature_importance.png
/DecisionTree_structure.png
/DenseNeuralNetwork_loss_curve.png
/DenseNeuralNetwork_model_graph.png
/DenseNeuralNetwork_weights_layer_1.png
/DenseNeuralNetwork_weights_layer_2.png
/DenseNeuralNetwork_weights_layer_3.png
/DenseNeuralNetwork_weights_layer_4.png
/LinearRegression_coefficients.png
/XGBoost_feature_importance.png