/linear_coefficients.png
/decision_tree_structure.png
/catboost_feature_importance.png
/xgboost_feature_importance.png
/ann_loss_curve.png
/ann_model_graph.png
/ann_weights_layer_1.png
/ann_weights_layer_2.png
/ann_weights_layer_3.png
/DenseNeuralNetwork_loss_curve.png
/DenseNeuralNetwork_model_graph.png
/DenseNeuralNetwork_weights_layer_1.png
/DenseNeuralNetwork_weights_layer_2.png
/DenseNeuralNetwork_weights_layer_3.png
/DenseNeuralNetwork_weights_layer_4.png
